
/* Clearfix defaults */
    .row::before,
    .row::after {display: table; content: '';}
    .row::after {clear: both;}
    .col-3, .col-4, .col-6, .col-12 {float: left;}


/* Mobile defaults */
    .col-3, .col-4, .col-6, .col-12 
        {width: 100%;}



/* *******************  GRIDS AND MEDIA QUERIES  **************************** */


/* Over 1000px */

@media only screen and (min-width: 1000px) 
	{


		.col-3  {width: 25%;}
		.col-4  {width: 33.3%;}
		.col-6  {width: 50%;}
		.col-12 {width: 100%;}    

		#hero {min-height: 500px;}

		.left-about {
				padding-right: 50px;
				padding-bottom: 20px;
				padding-left: 15%;
				}

		.right-about {
				padding-bottom: 20px;
				}
		
		.left-contact {
				padding-bottom: 20px;
				padding-left: 25%;
				}


		.left-skills {
				padding-right: 20px;
				padding-bottom: 20px;
				padding-left: 15%;
				}

		.middle-skills {
				padding-right: 20px;
				}


	}	/* End over 1000px */		
		


/* Between 700 and 1000px */

@media only screen and (max-width: 999px) 
	  
	    { 
	    .col-3  {width: 25%;}
		.col-4  {width: 33.3%;}
		#about .col-4 {width: 40%;}
		.col-6  {width: 50%;}
		.col-12 {width: 100%;}    


		#hero {min-height: 350px;}

	    #hero h1  {
	          font-size: 45px;
	          padding-top: 60px;
	          padding-left: 10%;

	          }

	    #hero h3  {
	          font-size: 24px;
	          padding-left: 10%;
	          }



		.left-about {
					padding-right: 40px;
					padding-bottom: 20px;
					padding-left: 10%;
					}

		.right-about {
					padding-bottom: 20px;
					}

		.left-skills   {padding: 5px 0px 20px 10%;}
		.middle-skills {padding: 5px 10px 20px 20px;}
		.right-skills  {padding: 5px 0px 20px 40px;}
	

		.left-contact {
					padding-right: 5%;
					padding-bottom: 20px;
					padding-left: 15%;
					}


		}/* End between 700 and 1000 */




/* Between 550 and 700px */

@media only screen and (max-width: 699px)
	    
	    {
		
		.col-3 {width: 25%;}
		.col-4 {width: 33.3%;}
		#about .col-4 {width: 100%;}

		/* This is the logo */
		header img {width: 300px;}


		#hero {min-height: 250px;}

	    #hero h1  {
	          font-size: 40px;
	          padding-top:50px;
	          padding-bottom: 5px;
	          padding-left: 40px;
	          }

	    #hero h3  {
	          font-size: 23px;
	          padding-left: 40px;
	          }



		.left-about, .left-contact {padding: 0px;}
		.right-about, .right-contact {padding-bottom: 25px; padding-top: 10px;}

		#about .row {margin: 0px 35px 0px 40px;}

		.left-skills   {padding: 0px 0px 20px 40px;}
		.middle-skills {padding: 0px 5px 20px 20px;}
		.right-skills  {padding: 0px 0px 20px 40px;}

		.photo 		{width: 50%;}

		.left-contact  {
					padding-right: 15%; 
					padding-bottom: 15px;
					padding-left: 10%;
					}


	    } /* Closing between 550 and 700px */





/* Less than 550px */

	@media only screen and (max-width: 550px)
	    {

	    .col-3 {width: 100%;}
	   	.col-4 {width: 100%;}


		/* This is the logo */
		header img {width: 275px;}

	    #about .row {margin: 0px 20px 0px 20px;}

	    .left-about, .left-contact {padding: 0px 10px 0px 0px; width: 100%;}
		.right-about, .right-contact {padding: 10px 0px 20px 0px; width: 100%;}


	    #nav ul {padding: 0px; margin: 0px;}
	    #nav li {padding: 2px 0px 0px 0px; margin: 0px;}
	    #nav li a {width: 25%; font-size: 11px; margin: 0px; padding: 0px 12px;}

		/* This is the logo */
	

		h2 	{padding: 15px 0px 10px 0px;}

		#hero {min-height: 200px; width: 100%;}   	
		        
		#hero h1 {
		        font-size: 38px;
		        padding-top: 40px;
		        padding-left: 20px;
		        }

		#hero h3 {
		        font-size: 18px;
		        padding-left: 20px;
		        }

		#skills ul {text-align: center;}
		#skills li {padding-bottom: 7px;}
	
		.left-skills {padding: 10px 0px 0px 0px;}
		.middle-skills {padding: 0px;}
		.right-skills {padding: 0px 0px 15px 0px;}



	 	#contact .row {margin: 0px 20px 0px 20px; text-align: center;}
	 	#contact ul li {padding: 5px 1px 5px 1px;}



	    } /* Closing less than 500px */


/* Less than 400px */

	@media only screen and (max-width: 400px)
	    {
		.photo 	{width: 100%;}
		}


