

body 	{
		font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
		font-weight: 300;
		padding: 0px;
		margin: 0px;   		
		position: relative;
		}


h1, h2, h3, h4, h5, p {margin: 0px;}


ul {padding-left: 0px; margin: 0px;}


h1		{
		color: #ffffff;
		font-size: 40px;
		font-weight: 200;
		line-height: 80%;
		padding: 30px 0px 15px 0px;
		}


h2		{
		color: #ffffff;
		font-family: 'Work Sans';
		font-weight: 100;
		font-size: 25px;
		line-height: 90%;
		letter-spacing: 1px;
		padding: 25px 0px 20px 0px;
		text-align: center;
		}


h3		{
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
		}


h4		{
		color: #a61e3a;
		font-size: 14px;
		font-weight: 400;
		line-height: 100%;
		}


p		{
		color: #553413;
		font-size: 13px;
		line-height: 175%;
		}





/* LOGO */


header {
		text-align: center;
		background-color: #ffffff;
		}


header img {
		max-width: 350px;
		padding-top:25px;
		padding-bottom: 10px;
		}


/* NAV */

#nav 	{
		background-color: #a61e3a;
		min-height: 25px;
		}


#nav li {
		display: inline-block;
		padding-top: 3px;
		height: 25px;
		}

#nav li a {
		color: #ffffff;
		font-size: 13px;
		font-weight: 300;
		height: 25px;
		letter-spacing: 1px;
		list-style: none;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0px 20px 0px 20px;
		}

#nav li:hover {
		background-color: #53413c;
		}

		
/* HERO */

#hero 	{
	    width: 100%;    
	    background-image: url('../images/susybiashero3.png');
  		background-size: cover;
		}


#hero h1 {
		font-size: 50px;
		padding-top: 100px;
		padding-bottom: 8px;
		padding-left: 16%;
		}

#hero h3 {
		font-size: 30px;
		font-weight: 200;
		padding-left: 16%;
		}



/* ABOUT */

#about 		{
			
			background-color: #e1dfd9;

			}

#about h2  	{
			color: #a61e3a;
			}




/* SKILLS */

#skills 	{ 
			
			background-color: #53413c;

			}


#skills li {
			color: #ffffff;
			font-size: 13px;
			padding-bottom: 10px;
			list-style: none;
			text-decoration: none;
			}



/* PROJECTS */

#projects ul {list-style: none;}

.photo 		{
			width:33.33%;
			height: auto;
			display: inline-block;
			float: left;
			}


#project-top-border {
			background-color: #a61e3a;
			}

#project-top-border h2 {
			padding: 20px 0px 20px 0px;
			}

#project-bottom-border {
			height: 20px;
			background-color: #53413c;
			margin-top: -2px;
			}



/* CONTACT */


#contact 	{
			background-color: #e1dfd9;
			}

#contact h2  	{
			color: #a61e3a;
			}

#contact h4 { margin: 5px 0px 5px 0px; }
#web {padding: 18px 0px 5px 0px;}




#contact ul {list-style: none;}
#contact ul li {display: inline-block;}
#contact a {color:#53413c; text-decoration: none;}
#contact ul img {height: 25px; width: auto; padding-right: 10px;}



/* FOOTER */

footer		{
			min-height: 65px;
			background-color: #53413c;
			}


footer p 	{
			color: #ffffff;
			font-size: 12px;
			line-height: 120%;
			text-align: center;
			padding-top: 15px;
			}


.subtext 	{
			color: #ffffff;
			font-size: 10px;
			text-align: center;
			padding-top: 8px;
			}

		
