

body 	{
		font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
		font-weight: 300;
		padding: 0px;
		margin: 0px;   		
		position: relative;
		}


h1, h2, h3, h4, h5, p {margin: 0px;}


ul {padding-left: 0px; margin: 0px;}


h1		{
		color: #ffffff;
		font-size: 40px;
		font-weight: 200;
		line-height: 80%;
		padding: 30px 0px 15px 0px;
		}


h2		{
		color: #ffffff;
		font-family: 'Work Sans';
		font-weight: 100;
		font-size: 25px;
		line-height: 90%;
		letter-spacing: 1px;
		padding: 25px 0px 20px 0px;
		text-align: center;
		}


h3		{
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
		}

.modal-content h3 {
		color: #a61e3a;
		padding-top: 25px;
		padding-bottom: 15px;
		text-align: center;
		}


h4		{
		color: #a61e3a;
		font-size: 14px;
		font-weight: 400;
		line-height: 100%;
		}


p		{
		color: #553413;
		font-size: 14px;
		line-height: 175%;
		}





/* LOGO */


header {
		text-align: center;
		background-color: #ffffff;
		}


header img {
		max-width: 350px;
		padding-top:25px;
		padding-bottom: 10px;
		}


/* NAV */

#nav 	{
		background-color: #a61e3a;
		min-height: 25px;
		}


#nav li {
		display: inline-block;
		padding-top: 3px;
		height: 25px;
		}

#nav li a {
		color: #ffffff;
		font-size: 13px;
		font-weight: 300;
		height: 25px;
		letter-spacing: 1px;
		list-style: none;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0px 20px 0px 20px;
		}

#nav li:hover {
		background-color: #53413c;
		}

		
/* HERO */

#hero 	{
	    width: 100%;    
	    background-image: url('../images/susybiashero3.png');
  		background-size: cover;
		}


#hero h1 {
		font-size: 50px;
		padding-top: 100px;
		padding-bottom: 8px;
		padding-left: 16%;
		}

#hero h3 {
		font-size: 30px;
		font-weight: 200;
		padding-left: 16%;
		}



/* ABOUT */

#about 		{
			
			background-color: #e1dfd9;

			}

#about h2  	{
			color: #a61e3a;
			}




/* SKILLS */

#skills 	{ 
			
			background-color: #53413c;

			}


#skills li {
			color: #ffffff;
			font-size: 14px;
			padding-bottom: 10px;
			list-style: none;
			text-decoration: none;
			}



/* PROJECTS */

#projects ul {list-style: none;}

.photo, .button 		{
			background-color: #a61e3a;
			width: 33.33%;
			height: auto;
			display: inline-block;
			float: left;
			}

.photo:hover {filter: grayscale(100%);

			}


#project-top-border {
			background-color: #a61e3a;
			}

#project-top-border h2 {
			padding: 20px 0px 20px 0px;
			}

#project-bottom-border {
			height: 20px;
			background-color: #53413c;
			margin-top: -2px;
			}



/* CONTACT */


#contact 	{
			background-color: #e1dfd9;
			}

#contact h2  	{
			color: #a61e3a;
			}

#contact h4 { margin: 5px 0px 5px 0px; }
#web {padding: 18px 0px 5px 0px;}




#contact ul {list-style: none;}
#contact ul li {display: inline-block;}
#contact a {color:#53413c; text-decoration: none;}
#contact ul img {height: 25px; width: auto; padding-right: 10px;}


/* Contact form fields */

input, textarea {
			    width: 100%;
			    background: #c0bab5;
			    font-size: 12px;
			    line-height: 150%;
			    border: none;
			    padding: 5px;
			    margin-top: 5px;
			    margin-bottom: 5px;
			    resize: none;
				}


input[type=submit] {
			    background-color: #a61e3a;
			    color: #ffffff;
			    font-size: 13px;
			    padding: 7px 0px;
			    width: 30%;
			    border: none;
			    margin: 10px 0px 20px 0px;
			    cursor: pointer;
				}

input[type=submit]:hover
				{
   				background-color: #53413c;
				}




/* FOOTER */

footer		{
			min-height: 65px;
			background-color: #53413c;
			}


footer p 	{
			color: #ffffff;
			font-size: 12px;
			line-height: 120%;
			text-align: center;
			padding-top: 15px;
			}


.subtext 	{
			color: #ffffff;
			font-size: 10px;
			text-align: center;
			padding-top: 8px;
			}



/********************** MODAL **********************/
/********************** MODAL **********************/
/********************** MODAL **********************/
/********************** MODAL **********************/


/* The Modal (This is the mask background behind the popup.) */

.modal 		{
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: #000000; /* Fallback color */
		    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
			}


/* This is the box that pops up showing the project details. */

.modal-content {
		    background-color: #e1dfd9;
		    margin: auto;
		    padding: 40px;
		    width: 80%;
		    max-width: 850px;
			}


#modal-content { /* for styling a specific modal window?? */ }



/* This is for the image in the project details popup window. */

.modal-content img {
			max-width: 80%;
			display: block;
			margin-right: auto;
			margin-left: auto;}



/* CLOSE BUTTON  */

.close 		{
		    color: #53413c;
		    float: right;
		    font-size: 25px;
			}

.close:hover,
.close:focus {
			color: #a61e3a;
			text-decoration: none;
			cursor: pointer;
			}	

/* End close button  */